[workspace]
members = ["core-term", "examples/image-viewer", "examples/shapes", "pixelflow-core", "pixelflow-render", "xtask", "pixelflow-fonts", "pixelflow-engine", "actor-scheduler"]
exclude = ["pixelflow-core/fuzz"]
resolver = "2"
