[package]
name = "pixelflow-core"
version = "0.1.0"
edition = "2024"

[lib]
bench = false

[dependencies]
libm = "0.2.15"

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[[bench]]
name = "core_benches"
harness = false
